.actress-bio {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.actress-bio__thumbnail {
    overflow: hidden;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.actress-bio__thumbnail > img {
    display: block;
    object-fit: contain;
    object-position: center;
    width: 100%;
}
.actress-bio__info {
    padding: 0 1rem;
}
.actress-bio__section {
    display: flex;
}
.actress-bio__section-title {
    margin-right: 1rem;
    font-weight: 600;
    flex-shrink: 1;
    flex-grow: 0;
}
.actress-bio__section-body {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
}
@media screen and (min-width: 640px) {
    .actress-bio {
        flex-direction: row;
    }
    .actress-bio__thumbnail {
        width: 20rem;
        margin-bottom: 0;
    }
}
