.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.login-form {
    width: 22rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    padding: 2rem;
    border-radius: 0.25rem;
}

.login-form h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
