:root {
    --dark: #1e293b;
    --dark-hover: #334155;
    --light: #f3f4f6;
    --danger: #ef4444;
    --danger-hover: #dc2626;
    --danger-light: #fee2e2;
    --warning: #fbbf24;
    --warning-hover: #f59e0b;
    --success: #4ade80;
    --success-hover: #22c55e;
    --info: #3b82f6;
    --info-hover: #2563eb;
    --slate-300: #cbd5e1;
    --slate-100: #f1f5f9;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--slate-300) #f1f5f9;
}

*::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

*::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--slate-300);
    border-radius: .25rem;
    border: 1px solid #f1f5f9;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
}

input[type="radio"] {
    width: 1rem;
    height: 1rem;
    position: relative;
}

input[type="radio"]:checked::before {
    content: "";
    display: inline-block;
    width: .25rem;
    height: .25rem;
    border-radius: 50%;
    background-color: var(--dark);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
}

.m-2 {
    margin: .5rem;
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.mt-2 {
    margin-top: .5rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.m-4 {
    margin: 1rem;
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.p-4 {
    padding: 1rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.space-x-4>*+* {
    margin-left: 1rem;
}

.space-x-2>*+* {
    margin-left: .5rem;
}

.space-y-4>*+* {
    margin-top: 1rem;
}

.space-y-2>*+* {
    margin-top: .5rem;
}

.text-light {
    color: var(--light);
}

.text-error {
    color: var(--danger);
    font-size: .75rem;
    font-weight: 500;
}

.w-full {
    width: 100% !important;
}

.btn,
.btn--sm {
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn {
    padding: .75rem 2rem;
    font-size: 1rem;
}

.btn--sm {
    padding: .5rem 1rem;
    font-size: .75rem;
}

.btn--primary {
    background-color: var(--dark);
    color: var(--light);
}

.btn--primary:hover {
    background-color: var(--dark-hover);
}

.btn--secondary {
    background-color: var(--slate-300);
    color: var(--dark);
}

.btn--secondary:hover {
    opacity: .75;
}

.btn--info {
    background-color: var(--info);
    color: var(--light);
}

.btn--info:hover {
    background-color: var(--info-hover);
}

.btn--danger {
    background-color: var(--danger);
    color: var(--light);
}

.btn--danger:hover {
    background-color: var(--danger-hover);
}

.btn--circle {
    border: none;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn-close:hover {
    opacity: .75;
}

.icon-lg {
    width: 2rem;
    height: 2rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-sm {
    width: 1rem;
    height: 1rem;
}

.icon-success {
    color: var(--success);
}

.icon-danger {
    color: var(--danger);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid var(--slate-300);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: left;
}

.table th {
    background-color: var(--slate-300);
    color: var(--dark);
}

.table tr:nth-child(even) {
    background-color: var(--slate-100);
}

.table td.editable {
    padding-top: 0;
    padding-bottom: 0;
}

.table td.editable input[type="text"] {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: .25rem;
    outline: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.table td.editable input[type="text"]:focus {
    border: 1px solid var(--dark);
}

.table__actions {
    display: flex;
    align-items: center;
}

.table__tags {
    display: flex;
    flex-wrap: wrap;
}

.table__tags a {
    background-color: var(--dark);
    color: var(--light);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: .5rem;
    border-radius: .25rem;
}

.table__thumbnail {
    height: 18.75rem;
}

.table__thumbnail img {
    height: 100%;
    object-fit: cover;
    border-radius: .25rem;
}

.form-input {
    margin-bottom: 1rem;
}

.form-input > label {
    display: block;
    margin-bottom: .25rem;
}

.form-input > label.required::after {
    content: " *";
    color: var(--danger);
}

.form-input input {
    padding: .75rem 1rem;
    border-radius: .25rem;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
}

.form-input input:focus {
    border: 1px solid var(--dark);
    outline: 1px solid var(--dark);
}

.form-input__group {
    position: relative;
}

.form-input__group .form-input__icon-toggle {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #64748b;
}

.form-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 70;
}

.dialog__box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light);
    border-radius: .25rem;
    width: 24rem;
    max-height: 50vh;
    padding-top: .5rem;
    padding-bottom: .5rem;
    overflow-y: auto;
    z-index: 80;
}

.dialog__header {
    width: 100%;
    padding: .5rem 1rem;
    font-weight: 600;
    font-size: 1.25rem;
}

.dialog__body {
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1rem;
    color: var(--dark);
}

.dialog__footer {
    margin-top: 1rem;
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    justify-content: end;
}

.dialog__footer * + * {
    margin-left: .5rem;
}
