.toast {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 20rem;
    z-index: 70;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.toast__title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toast__title-text {
    display: flex;
    align-items: center;
}

.toast__title-close {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.toast__message {
    max-height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
