.video-card__thumbnails {
    width: 100%;
    height: 9rem;
    overflow: hidden;
    margin-bottom: .5rem;
}

.video-card__thumbnails img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    display: none;
}

.video-card__thumbnails img.show {
    display: block;
}

.video-card__thumbnails-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.video-card__thumbnails-control button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: .25rem .5rem;
    border-radius: .25rem;
    cursor: pointer;
    outline: none;
}

.video-card__thumbnails-control button:hover {
    background-color: #f1f1f1
}

.video-card__thumbnails-control button.active,
.video-card__thumbnails-control button.active:hover {
    background-color: var(--danger);
}

.video-card__title {
    overflow: hidden;
    width: 100%;
    height: 2.75rem;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 1rem;
}

.video-card__detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-card__detail--likes {
    background-color: var(--info);
    color: var(--light);
    border-radius: .25rem;
    padding: .125rem .5rem;
    font-size: .75rem;
    display: flex;
    align-items: center;
}

.filtered-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filtered-tags>*+* {
    margin-left: .5rem;
}

.table__thumbnails-wrapper {
    width: 16rem;
}

.thumbnails-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 425px) {
    .video-card__thumbnails {
        height: 10.5rem;
    }
}

@media screen and (min-width: 768px) {
    .video-card__thumbnails {
        height: 9rem;
    }
}